<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NLP</title>
  </head>
  <body>
    <div id="backgroundContainer">
      <img src="../assets/rocketSpacex.jpg" id="img1" alt="space" />
      <img src="../assets/tasks.jpg" id="img2" alt="tasks" />
      <img src="../assets/beachTree.jpg" id="img3" alt="tree" />
      <img src="../assets/laptop.jpg" id="img4" alt="laptop" />
    </div>
    <div id="container">
      <header>
        <h2>Evaluated News</h2>
      </header>
      <main>
        <section>
          <form action="">
            <input type="text" id="url" placeholder="http://" />
            <input
              type="submit"
              id="submit"
              onclick="return Client.handleSubmit(event)"
              onsubmit="return Client.handleSubmit(event)"
            />
          </form>
        </section>
        <section>
          <article>
            <h4 id="score"></h4>
            <h4 id="img"></h4>
            <h4 id="subjectivity"></h4>
            <h4 id="confidence"></h4>
            <h4 id="irony"></h4>
          </article>
        </section>
      </main>
    </div>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
