@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");

article {
  background: linear-gradient(#e66465, #9198e5);
  visibility: hidden;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 22%);
  text-align: center;
  border-radius: 13px;
  font-family: "Bigelow Rules", cursive;
  font-size: 18px;
}
