@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

h2 {
  font-family: "Finger Paint", cursive;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 5;
  background: #fff;
  font-size: 50px;
  margin: 15px;
}
